<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-4 offset-1">
      <%= image_tag "IMG_0244.JPG", class: 'image-myself' %>
    </div>
    <div class="col-4">
      <h5>探究心</h5>
      <strong style="font-size: 35px;">千葉陸矢</strong>
        <p>2022年卒業見込み</p>
        <p>繊維学</p>
        <%= link_to "https://github.com/rikuyaccc", "https://github.com/rikuyaccc" %>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 border my-4 shadow">
      <h1 class="text-center text-success pt-5">About</h1>
      <p class="text-center">わたしについて</p>
      <div class="col-8 offset-2">
        <h3>自分ってどんな人？</h3>
        <p class="mt-4">信州大学大学院　総合理工学研究科　修士1年</p>
        <p>Ruby on railsを用いてサービス開発しています</p>
        <p class="mt-5">[原動力は好奇心]</p>
        <p>web系の職種に興味を持ち、web系プログラミングの勉強を大学4年生の冬からスタート</p>
        <p class="mt-5">><><><><><><><><><><></p>
        <h5 class="mt-5">[2019年12月]</h5>
        <p>HTML,CSSなどのフロントエンドの言語をprogateなどのサイトを活用して勉強</p>
        <h5 class="mt-5">[2020年3月]</h5>
        <p>バックエンドの技術にも興味を持ち、Ruby on railsを勉強する</p>
        <h5 class="mt-5">[2020年8月]</h5>
        <p>何か一つ自分でwebサービスを作ってみたいと思い、簡単なCRUD機能にフォロー機能、記事お気に入り機能を追加した掲示板サービスを開発</p>
        <h5 class="mt-5">[2020年9月]</h5>
        <p class="mb-5">大学の授業を評価できるようなwebサービスを開発したいと思い、Ruby on railsで開発開始</p>
        <h5 class="mt-5">[2020年11月]</h5>
        <p class="mb-5">大学の授業評価webサービスを開発完了</p>
      </div>  
    </div>
  </div>
</div>